@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300;400;700&display=swap');

:root {
  --background: #ffffffe6;
  --nav: #c3d9c3;
  --interact: seagreen;
  --title: #008080;
  --subtitle: #4B0082;
  --text: #333333;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Dongle';
  scroll-behavior: smooth;  
}

body {
  background-color: var(--background);
}

/* Navbar */
nav {
  display: flex;
  position: fixed;
  width: 100%;
  list-style: none;
  align-items: center;
  padding: 0.5rem 0;
  background-color: var(--nav);
  box-shadow: 0px 0px 3px black;
  z-index: 9999;
  transition: all ease-in 0.3s;
}

nav * {
  text-decoration: none;
  white-space: nowrap;
  outline: none;
}

nav #nav-title a:focus-visible {
  border-left: 2px solid var(--interact);
  border-right: 2px solid var(--interact);
}

nav #nav-options li a:focus-visible {
  border: 2px solid var(--interact);
}

#nav-title {
  position: relative;
  top: 3px;
  cursor: pointer;
  font-size: 3rem;
  margin-right: auto;
  margin-left: 10%;
  overflow: hidden;
}

#nav-title a {
  color: var(--title);
}

#nav-title:hover::after {
  left: 0;
}

#nav-title::after {
  display: block;
  content: '';
  height: 2px;
  background-color: var(--subtitle);
  position: relative;
  top: -25px;
  left: -185px;
  transition: left ease-in 0.2s;
}

#nav-dropdown {
  display: none;
  position: absolute;
  top: 25%;
  right: 10%;
}

#nav-dropdown i {
  cursor: pointer;
  color: var(--subtitle);
}

#nav-dropdown i:hover {
  color: var(--interact);
}

#nav-dropdown i.fa-times {
  display: none;
  position: relative;
  top: -14px;
  right: 1px;
}

#nav-options {
  display: flex;
  position: relative;
  font-size: 1.75rem;
  margin-right: 10%;
  padding: 1rem 0;
  transition: padding ease-in 0.2s;
  animation: slideIn forwards ease-in 0.3s;
}

@keyframes slideIn {
  from {
    right: -500px;
  } to {
    right: 0px;
  }
}

#nav-options li a {
  color: var(--text);
  background-color: var(--background);
  padding: 0.75rem;
}

#nav-options li:first-child > a {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding-left: 1.25rem;
}

#nav-options li:last-child > a {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding-right: 1.25rem;
}

#nav-options li:hover a {
  color: var(--interact);
}

/* Modal backdrop */
#modal-backdrop {
  content: '';
  background-color: rgba(0, 0, 0, 0.8);
  width: 100vw;
  height: 100vh;
  display: none;
  position: fixed;
  z-index: 999;
}

#modal-backdrop #project-close-btn {
  cursor: pointer;
  position: fixed;
  top: 55%;
  right: 5%;
  width: 48px;
  height: 48px;
  border-radius: 5px;
  outline: none;
  border: 2px solid var(--interact);
  background-color: var(--nav);
  color: var(--text);
  overflow: hidden;
}

#modal-backdrop #project-close-btn i {
  font-size: 2.5rem;
}

#project-site-btn {
  display: none;
  cursor: pointer;
  position: fixed;
  top: 50%;
  right: 5%;
  border-radius: 5px;
  outline: none;
  padding: 0 1rem;
  border: 2px solid var(--interact);
  font-size: 2rem;
  background-color: var(--nav);
  color: var(--text);
}

#modal-backdrop #project-close-btn:hover, #project-site-btn:hover {
  background-color: var(--interact);
}

#project-embed {
  display: none;
  margin: 10% auto 0;
  width: 400px;
  height: 400px;
}

/* Sections */
.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--text);
  background-color: var(--background);
  min-height: 85vh;
  padding: 15vh 15% 0;
}

.section h1::before, .section h1::after {
  content: '///';
  color: lawngreen;
  text-shadow: 2px 2px 2px var(--text);
  font-size: 5rem;
  position: relative;
  top: 5px;
}

.section h1::before {
  padding-right: 1rem;
}

.section h1::after {
  padding-left: 1rem;
}

.section h1 {
  font-size: 3rem;
  color: var(--subtitle);
  margin-bottom: -1rem;
  text-shadow: 2px 1px 2px lawngreen;
  white-space: nowrap;
}

.section h2 {
  font-size: 2.3rem;
  text-align: center;
}

.section p {
  font-size: 2rem;
  text-align: center;
}

/* Intro section */
#intro img {
  height: 192px;
  width: 192px;
  margin: 20px 0;
  background-color: var(--nav);
  border-radius: 10px;
  box-shadow: 2px 2px 3px var(--text);
}

/* Projects section */
.projects-container {
  --num-cols: 3;
  box-sizing: border-box;
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(var(--num-cols),1fr);
  overflow: hidden;
  padding: 1rem;
}

.project {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 20px;
  border: 2px solid black;
  height: 256px;
  width: 256px;
}

.project label {
  position: absolute;
  text-align: center;
  text-indent: -15px;
  color: var(--nav);
  background-color: var(--title);
  width: 80%;
  font-size: 1.5rem;
  transform: rotate(-26deg);
  top: 11px;
  left: -36px;
}

.project img {
  background-color: var(--nav);
  object-fit: cover;
  width: 256px;
  height: 186px;
}

.project button {
  font-size: 1.5rem;
  position: absolute;
  cursor: pointer;
  width: 100%;
  border: none;
  background-color: var(--text);
  color: var(--background);
}

.project button:hover {
  background-color: var(--interact);
}

.project button.details {
  bottom: 0px;
}

.project button.view {
  bottom: 34px;
  border-top: 1px solid var(--nav);
  border-bottom: 1px solid var(--nav);
}

/* Contact section */
#contact.section {
  padding: 10vh;
  min-height: 0px;
}

#ct-icons {
  display: flex;
  gap: 1rem;
}

#ct-icons i {
  font-size: 2rem;
  color: var(--title);
  text-shadow: 1px 1px 1px var(--subtitle);
}

#ct-icons i:hover {
  color: var(--interact);
}

@media screen and (max-width: 1024px) {
  .projects-container {
    --num-cols: 2;
  }
}

@media screen and (max-width: 700px) {
  nav {
    flex-direction: column;
  }

  #nav-title {
    height: 45px;
    margin: -20px 0 -5px;
    font-size: 2.5rem;
  }

  #nav-title::after {
    top: -20px;
  }

  #nav-options {
    display: flex;
    margin: 0px;
    padding: 0.5rem;
  }

  #nav-options li a {
    font-size: 1.2rem;
    padding: 0.4rem;
  }

  #intro.section {
    padding-top: 5rem;
  }

  .section h2, .section p {
    line-height: 2.3rem;
  }
}

@media screen and (max-width: 640px) {
  .projects-container {
    --num-cols: 1;
  }

  .section {
    padding: 15vh 7.5% 0;
  }
}

@media screen and (max-width: 480px) {
  #nav-title {
    margin: -20px auto -5px 10%;
  }

  #nav-dropdown {
    display: block;
  }

  #nav-options {
    display: none;
  }

  #intro.section {
    padding-top: 1rem;
  }
}