@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300;400;700&display=swap');

:root {
  --background: #ffffff;
  --nav: #c3d9c3;
  --interact: seagreen;
  --title: #008080;
  --subtitle: #4B0082;
  --text: #333333;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Dongle';
  scroll-behavior: smooth;  
}

body {
  background-color: var(--background);
}

p {
  font-weight: 300;
}

/* Navbar */
nav {
  display: flex;
  position: fixed;
  width: 100%;
  list-style: none;
  align-items: center;
  padding: 0.5rem 0;
  background-color: var(--nav);
  box-shadow: 0px 0px 3px black;
  z-index: 9999;
  transition: all ease-in 0.3s;
}

nav * {
  text-decoration: none;
  white-space: nowrap;
  outline: none;
}

nav #nav-title a:focus-visible {
  border-left: 2px solid var(--interact);
  border-right: 2px solid var(--interact);
}

nav #nav-options li a:focus-visible {
  border: 2px solid var(--interact);
}

#nav-title {
  position: relative;
  top: 3px;
  cursor: pointer;
  font-size: 3rem;
  margin-right: auto;
  margin-left: 10%;
  overflow: hidden;
}

#nav-title a {
  color: var(--title);
}

#nav-title:hover::after {
  left: 0;
}

#nav-title::after {
  display: block;
  content: '';
  height: 2px;
  background-color: var(--subtitle);
  position: relative;
  top: -25px;
  left: -185px;
  transition: left ease-in 0.2s;
}

#nav-dropdown {
  display: none;
  position: absolute;
  top: 25%;
  right: 10%;
}

#nav-dropdown i {
  cursor: pointer;
  color: var(--subtitle);
  font-size: 1.5rem;
}

#nav-dropdown i:hover {
  color: var(--interact);
}

#nav-dropdown i.fa-times {
  display: none;
  position: relative;
  top: -21px;
  right: 2px;
}

#nav-options {
  display: flex;
  position: relative;
  font-size: 1.75rem;
  font-weight: 300;
  margin-right: 10%;
  padding: 1rem 0;
  transition: padding ease-in 0.2s;
  animation: slideIn forwards ease-in 0.3s;
}

@keyframes slideIn {
  from {
    right: -500px;
  } to {
    right: 0px;
  }
}

#nav-options li a {
  color: var(--text);
  background-color: var(--background);
  padding: 0.75rem;
}

#nav-options li:first-child > a {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding-left: 1.25rem;
}

#nav-options li:last-child > a {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding-right: 1.25rem;
}

#nav-options li:hover a {
  color: var(--interact);
}

/* Modal backdrop */
#modal-backdrop {
  content: '';
  background-color: rgba(0, 0, 0, 0.8);
  width: 100vw;
  height: 100vh;
  display: none;
  position: fixed;
  z-index: 999;
}

#modal-backdrop #project-close-btn {
  cursor: pointer;
  position: fixed;
  top: 55%;
  right: 5%;
  width: 48px;
  height: 48px;
  border-radius: 5px;
  outline: none;
  border: 2px solid var(--interact);
  background-color: var(--nav);
  color: var(--text);
  overflow: hidden;
}

#modal-backdrop #project-close-btn i {
  font-size: 2.5rem;
}

#project-site-btn {
  display: none;
  cursor: pointer;
  position: fixed;
  top: 50%;
  right: 5%;
  border-radius: 5px;
  outline: none;
  padding: 0 1rem;
  border: 2px solid var(--interact);
  font-size: 2rem;
  background-color: var(--nav);
  color: var(--text);
}

#project-site-btn .fa-external-link {
  font-size: 1rem;
  position: relative;
  left: 10px;
  padding-right: 10px;
}

#modal-backdrop #project-close-btn:hover, #project-site-btn:hover {
  background-color: var(--interact);
}

#project-embed {
  display: none;
  margin: 10% auto 0;
  width: 400px;
  height: 400px;
}

/* Sections */
.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--text);
  background-color: var(--background);
  padding: 2rem 15% 0;
  min-height: 65vh;
}

.section:not(#intro) {
  margin-top: 10rem;
}

.section .anchor {
  opacity: 0;
  background-color: red;
  position: relative;
  top: -6.5rem;
}

.section h1 {
  font-size: 6rem;
  line-height: 4rem;
  color: var(--subtitle);
  padding-bottom: 1rem;
  text-align: center;
  margin: 1rem 0;
}

.section h1, h2, h3 {
  font-weight: 400;
}

#intro.section h1 {
  z-index: 3;
}

.section h2 {
  font-size: 2.3rem;
  text-align: center;
}

.section p {
  font-size: 3rem;
  text-align: center;
}

/* Intro section */
#intro.section {
  padding-top: 6.5rem;
}

#intro img {
  position: relative;
  top: -50px;
  height: 192px; /* 192px */
  width: 192px; /* 192px */
  margin: 20px 0;
  background-color: var(--background);
  border-radius: 10px;
  /* box-shadow: 2px 2px 3px var(--text); */ /* Uncomment out when I have an actual candid photo */
}

/* Remove all below in intro section once I have replacement image */
#intro h2, #intro p {
  z-index: 3;
}

#intro #cover-up {
  position: relative;
  top: -270px;
  left: 70px;
  display: block;
  background-color: var(--background);
  height: 50px;
  width: 50px;
  z-index: 2;
  margin-bottom: -150px;
}

#intro #let {
  position: absolute;
  font-size: 2rem;
  color: red;
  z-index: 1;
  transform: rotate(-45deg);
  top: 45px;
  left: -110px;
}

#intro #him {
  position: absolute;
  top: 75px;
  left: 75px;
  transform: rotate(90deg);
}

#intro p {
  margin-top: 1rem;
}

/* Projects section */
.projects-container {
  --num-cols: 3;
  box-sizing: border-box;
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(var(--num-cols),1fr);
  justify-items: center;
  overflow: hidden;
}

.project {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 20px;
  border: 2px solid black;
  height: 345px;
  width: 345px;
}

.project label {
  position: absolute;
  text-align: center;
  text-indent: -60px;
  color: var(--nav);
  background-color: var(--title);
  width: 80%;
  font-size: 1.5rem;
  transform: rotate(-26deg);
  top: 11px;
  left: -60px;
  padding: 0px 25px;
  max-height: 55px;
}

.project label span {
  position: relative;
  top: -10px;
  left: -30px;
}

.project img {
  background-color: var(--nav);
  object-fit: cover;
  width: 345px;
  height: 275px;
}

/* Styling for SkyAware Anywhere project image */
#skyaware-img {
  background: var(--nav) url('assets/images/skyaware.svg') repeat-y center;
  background-size: 200px;
}

.project button {
  font-size: 1.5rem;
  position: absolute;
  cursor: pointer;
  width: 100%;
  border: none;
  background-color: var(--text);
  color: var(--background);
  border-top: 1px solid var(--nav);
  z-index: 1;
}

.project .details-container {
  position: relative;
  display: block;
  height: 72px;
  top: 0px;
  background-color: var(--nav);
  transition: top ease-in-out 0.7s;
}

.project .details-container.show-details {
  top: -275px;
}

.project .details-container.show-details p {
  display: block;
}

.project .details-container.show-details button.details {
  background-color: var(--interact);
}

.project .details-container.show-details button.details::before {
  transform: rotate(90deg);
}

.project .details-container.show-details button.details::after {
  transform: rotate(-90deg);
}

.project button.details:hover::before {
  transform: rotate(-90deg);
}

.project button.details:hover::after {
  transform: rotate(90deg);
}

.project button.details::before, .project button.details::after {
  display: inline-block;
  position: relative;
  right: 20px;
  content: '>';
  transition: all ease-in 0.2s;
}

.project button.details::after {
  right: -20px;
  content: '<';
}

.project button:hover {
  background-color: var(--interact);
}

.project button .fa-external-link {
  position: relative;
  top: 2px;
  left: 10px;
  font-size: 1rem;
}

.project button.view {
  top: 309px;
}

.project p {
  position: relative;
  top: 36px;
  z-index: 0;
  background-color: var(--background);
  line-height: 1.3rem !important;
  padding: 0.5rem;
  font-size: 2rem;
  height: 256px;
}

/* About Me section */
#about-section.section h2 {
  font-style: italic;
  cursor: default;
  position: relative;
  top: 30px;
  left: -50%;
  transform: rotate(-4deg);
  margin-bottom: 2.5rem;
  z-index: 3;
}

#about-section.section h2::after {
  content: '';
  display: block;
  position: relative;
  top: -12px;
  height: 3px;
  background-color: var(--title);
  z-index: -1;
}

#about-section.section h2#experience {
  left: -24%;
}

#about-section.section .logo {
  margin: -1rem 0 1rem;
  width: 100px;
}

.section h3.company {
  width: 100%;
  background-color: white;
  text-align: center;
  font-size: 2.3rem;
  cursor: pointer;
  z-index: 2;
}

.section h3.company::before, .section h3.company::after {
  display: inline-block;
  position: relative;
  color: var(--interact);
  transition: all ease-in 0.2s;
}

.section h3.company::before {
  content: '>';
  right: 20px;
}

.section h3.company::after {
  content: '<';
  left: 20px;
}

.section h3.company:hover {
  color: var(--interact);
}

.section h3.company:hover::before {
  right: 10px;
  color: var(--text);
}

.section h3.company:hover::after {
  left: 10px;
  color: var(--text);
}

.work-container {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 70%;
  overflow: hidden;
}

.work-container .we-details {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  top: -500px;
  border-bottom: 2px solid var(--title);
  transition: top ease-in 0.3s;
}

.work-container .we-timeline {
  display: none;
  position: relative;
  font-size: 4rem;
  justify-content: space-between;
  align-items: center;
  width: 175px;
  margin: 1rem 0 0.5rem;
}

.work-container .fa-calendar-o {
  position: relative;
  background-color: var(--background);
  z-index: 1;
}

.fa-calendar-o h2, .fa-calendar-o  p {
  position: absolute !important;
  left: 5px !important;
  width: 40px;
  z-index: 3;
}

.fa-calendar-o h2 {
  top: 20px !important;
  font-size: 1.7rem;
  overflow: hidden;
  color: var(--title);
}

.fa-calendar-o h2::after {
  top: -10px !important;
  height: 1px !important;
  background-color: var(--text) !important;
}

.fa-calendar-o p {
  cursor: default;
  top: 33px !important;
  left: 15px !important;
  color: var(--subtitle);
}

.fa-calendar-o h3 {
  cursor: default;
  position: relative;
  font-size: 1.8rem;
  text-align: center;
  color: var(--title);
}

.work-container .fa-long-arrow-right {
  position: relative;
  top: -10px;
  font-size: 2.5rem;
}

.work-container h3 {
  transition: all ease-in 0.3s;
  z-index: 2;
}

.work-container img {
  display: none;
  position: relative;
  top: -200px;
  width: 150px;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.work-container p {
  display: none;
  position: relative;
  font-size: 2rem;
}

.we-open .we-details {
  top: 0px;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
}

.we-open h3::before {
  transform: rotate(90deg);
  top: -2px;
  right: 20px !important;
}

.we-open h3::after {
  transform: rotate(-90deg);
  top: -2px;
  left: 20px !important;
}

.we-open .we-timeline {
  display: flex;
}

.we-open p {
  display: block;
  top: 0px;
}

.we-open a, .project a {
  color: var(--text);
  text-decoration: underline var(--subtitle);
}

.we-open a:hover, .project a:hover {
  color: var(--interact);
}

.we-open img {
  display: inline;
  top: 0px;
}

/* Skills section */
.skills-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  padding: 2rem;
  border-radius: 10px;
  /* background-color: var(--nav); */
  /* border: 2px solid var(--subtitle); */
  overflow: hidden;
  gap: 1rem;
  margin-top: 2rem;
}

.skills-container h3 {
  cursor: default;
  position: relative;
  top: -5px;
  margin: -25px 0;
  font-size: 4rem;
  color: var(--title);
}

.skills-container .row {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  width: 100%;
  padding: 1rem;
  gap: 1rem;
  border-radius: 20px;
  /* background-color: var(--nav); */
  border-bottom: 2px solid var(--subtitle);
}

.skills-container .row h1 {
  font-size: 2rem;
  line-height: 1.5rem;
  padding-left: 0.5rem;
  width: 35%;
  z-index: 2;
  color: var(--subtitle);
  padding-bottom: 0;
}

.skills-container .row .skill-list {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  justify-content: center;
  gap: 1rem;
  width: 65%;
  padding: 0.5rem 0;
  font-size: 1.5rem;
  z-index: 1;
}

.skills-container .skill-list li {
  display: flex;
  padding: 0 0.5rem;
  color: var(--background);
  background-color: var(--text);
  border-radius: 10px;
}

/* Contact section */
#contact-section {
  padding: 5vh 10vh 0;
  min-height: 0px;
}

#contact-section p {
  font-size: 3rem;
  color: var(--subtitle);
  font-weight: 400;
}

#ct-icons {
  display: flex;
  gap: 1rem;
}

#ct-icons i {
  font-size: 2.5rem;
  color: var(--title);
  text-shadow: 1px 1px 1px var(--subtitle);
}

#ct-icons i:hover {
  color: var(--interact);
}

#footer {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  width: min-content;
  margin: 1rem auto 0;
  padding: 1rem;
  color: var(--text);
  border-top: 2px solid var(--nav);
}

#footer p {
  width: 35vw;
  text-align: center;
}

#footer a {
  color: var(--text);
  font-weight: bold;
  text-decoration: underline solid var(--subtitle);
  white-space: nowrap;
}

#footer a:hover {
  cursor: pointer;
  color: var(--interact);
}

/* Media queries */
@media screen and (max-width: 1128px) {
  .projects-container {
    --num-cols: 2;
  }

  .section h1 {
    font-size: 4rem;
  }

  .section p {
    font-size: 2rem;
  }

  .skills-container h3 {
    font-size: 3rem;
  }

  #contact-section p {
    font-size: 2.5rem;
  }

  #ct-icons i {
    font-size: 2rem;
  }
}

@media screen and (max-width: 1024px) {
  .skills-container {
    width: 85%;
  }

  .skills-container .row h1 {
    font-size: 2rem;
  }

  .skills-container .row .skill-list {
    font-size: 1rem;
    gap: 10px;
  }
}

@media screen and (max-width: 768px) {
  .project {
    width: 256px;
    height: 256px;
  }

  .project label {
    text-indent: -50px;
    left: -36px;
  }

  .project label.big {
    font-size: 1rem;
    top: -10px;
    text-indent: -100px;
    max-height: 35px;
  }
  
  .project label span {
    left: -50px;
  }

  .project .details-container.show-details {
    top: -184px;
  }

  .project img {
    width: 256px;
    height: 184px;
  }

  .project button.view {
    top: 220px;
  }

  .project p {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 700px) {
  nav {
    flex-direction: column;
    padding: 1rem 0;
  }

  #nav-title {
    height: 45px;
    margin: -20px 0 -5px;
    font-size: 2.5rem;
  }

  #nav-title::after {
    top: -20px;
  }

  #nav-options {
    display: flex;
    margin: 0px;
    padding: 1.7rem 0 0.7rem;
  }

  #nav-options li a {
    font-size: 1.8rem;
    padding: 0.8rem;
  }

  .section {
    padding: 5vh 7.5% 0;
  }

  .section .anchor {
    top: -9rem;
  }

  #intro.section {
    padding-top: 9rem;
  }

  .section h1, .section h2, .section p {
    line-height: 2.3rem;
  }

  .work-container {
    width: 80%;
  }

  .fa-calendar-o h2 {
    top: 12px !important;
    left: 4px !important;
    font-size: 1.5rem;
  }

  .fa-calendar-o p {
    top: 31px !important;
  }

  .skills-container .row {
    padding: 0.5rem;
    gap: 0.5rem;
  }

  .skills-container .row .skill-list {
    width: 65%;
    gap: 0.5rem;
  }

  .skills-container .row h1 {
    font-size: 1.5rem;
    width: 35%;
  }

  #footer p {
    line-height: 1.3rem;
    width: 50vw;
  }
}

@media screen and (max-width: 640px) {
  .projects-container {
    --num-cols: 1;
  }

  #about-section.section h2 {
    left: -45%;
  }

  #about-section.section h2#experience {
    left: -24%;
  }

  .project {
    width: 345px;
    height: 309px;
  }

  .project label {
    text-indent: -60px;
    left: -60px;
  }

  .project label.big {
    text-indent: -120px;
  }

  .project label span {
    left: -62px;
  }

  .project .details-container.show-details {
    top: -239px;
  }

  .project img {
    width: 345px;
    height: 239px;
  }

  .project button.view {
    top: 273px;
  }

  .project p {
    font-size: 2rem;
  }

  .work-container {
    width: 90%;
  }

  .skills-container {
    width: 90%;
  }
  
  .skills-container .row h1 {
    line-height: 1.3rem;
  }

  .skills-container .row .skill-list {
    gap: 5px;
  }
}

@media screen and (max-width: 480px) {
  #nav-title {
    margin: -20px auto -5px 10%;
  }

  #nav-dropdown {
    display: block;
  }

  #nav-options {
    display: none;
  }

  .section h1 {
    font-size: 3rem;
  }

  #intro.section {
    padding-top: 4rem;
  }

  #about-section.section h2 {
    left: -36%;
  }

  #about-section.section h2#experience {
    left: -28%;
  }

  #about-section.section .logo {
    width: 70px;
  }
  
  .project {
    width: 256px;
    height: 256px;
  }

  .project label {
    text-indent: -50px;
    left: -36px;
  }

  .project label.big {
    text-indent: -100px;
  }
  
  .project label span {
    left: -52px;
  }

  .project .details-container.show-details {
    top: -184px;
  }

  .project img {
    width: 256px;
    height: 184px;
  }

  .project button.view {
    top: 220px;
  }

  .project p {
    font-size: 1.5rem;
  }

  .skills-container h3 {
    font-size: 2.5rem;
  }
  
  .skills-container .row h1 {
    padding: 0;
    font-size: 1.4rem;
  }

  .work-container {
    width: 90%;
  }

  #contact-section span {
    white-space: nowrap;
  }

  #footer a, .we-open a, .project a {
    text-decoration: none;
    color: var(--interact);
  }

  #footer a:hover, .we-open a:hover, .project a:hover {
    text-decoration: underline solid var(--subtitle);
  }
}